@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin container {
    width: 70%;
    margin: 0 auto;
}

@mixin logo-bg {
    background-image: url(../assets/img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

@mixin align-self($position) {
    align-self: $position;
}