//DIMENSIONS

//Header
$header-height: 130px;

//Main
$content-wrapper-height: 150px;

//Footer
$footer-top-height: 350px;

//COLORS
$content-wrapper-bg-color: #1c1c1c;
$footer-bottom-bg-color: #303030;
$btn-border-color: #008dff;
$cta-text-color: #0282f9;
$social-bg-color: #797979;